
body {
    background-color: black;
}

#logo {
    position: absolute;
    left: 460px; 
}
#persons {
    position: relative;
    float: left;
    top: 150px; 
    left: 100px;

}

#ships{
    position: relative;
    float: right;
    top: 120px;
    right: 100px;

}

#present{
    top: 550px;
    float:left;
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    color:  rgb(202, 184, 16);

}
